{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
	<div class="overlay"></div>


	<div class="container">
		<div class="row">

			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-heading">
					<h1>{{post.title}}</h1>
					<h2 class="subheading">{{post.subtitle}}</h2>
					<span class="meta">Posted by
              <a href="{{ url_for('posts.show_post', post_id=post.id) }}">{{post.author}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}

 <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
{{ message }}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       {% endfor %}
  {% endif %}
{% endwith %}
 </div>
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="post-title">    Description:        </h2>
          <p>
             <!--Safe filter applied to the post.body-->
            {{ post.body|safe }}
          </p>

            <!--edit the post if the user is the author-->
            {% if current_user == post.author  %}
           <hr>

           <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{ url_for('posts.edit_post', post_id=post.id) }}"> Edit Post</a>
        </div>
            {% endif %}

            <hr>

             <div class="card border-0 mt-5">
          <div class="card-body">

                        {{ ckeditor.load() }}
                {{ ckeditor.config(name='comment_text') }}
                          <form method="POST" action="{{ url_for('posts.show_post', post_id=post.id) }}" id="comment-form">
              {{ form.hidden_tag() }}
                        {{ form.comment_text.label(class_='form-label', style="font-weight: bold; font-size: 24px;") }}
                          {{ form.comment_text(class_='ckeditor') }}
                          <br>
                          {{ form.submit(class_='btn btn-primary', novalidate=True) }}
                    </form>

          </div>
        </div>

{% if post.comments %}
  <hr>
  <h4>Comments</h4>
  {% for comment in post_comments.items %}

  <div class="media mb-4">
    <div class="d-flex align-self-start mr-3">
      <img class="rounded-circle" src="{{ comment.comment_author.email | gravatar }}" alt="">
    </div>
    <div class="media-body">
      <h5 class="mt-0 font-weight-bold">{{ comment.comment_author.name }}</h5>
      <span class="text-muted">{{ comment.timestamp.strftime('%B %d, %Y at %I:%M %p') }}</span>
      <p>{{ comment.text|safe }}</p>

        <!--only comment owner or post owner who can delete a post comment-->
               {% if current_user.name == comment.comment_author.name or current_user.name == post.author %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{ comment.id }}" class="button delete-button">✘</a>
            {% endif %}
        <hr>
         <!-- Modal confirmation for delete-->
<div class="modal fade" id="exampleModal{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Comment </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
         <p>Do you really want to delete this comment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="{{ url_for('posts.delete_comment', comment_id=comment.id, current_page=post_comments.page) }}" type="button" class="btn btn-danger">Confirm</a>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>
  {% endfor %}

            <!--pagination for comments-->

  {% if post_comments.has_prev %}
    <a href="{{ url_for('posts.show_post', post_id=post.id, page=post_comments.prev_num) }}" class="btn btn-primary">&lt;&lt; Prev</a>
  {% endif %}
  {% if post_comments.has_next %}
    <a href="{{ url_for('posts.show_post', post_id=post.id, page=post_comments.next_num) }}" class="btn btn-primary">Next &gt;&gt;</a>
  {% endif %}
{% endif %}



      </div>
    </div>
  </div>
</article>

{% endblock %}

